.navbar-collapse {
    justify-content: right;
    margin-right: 0.5rem;
}

.unset-session {
    color: #a52834;
    text-decoration-line: none;
}

.error-message {
    margin: 0.5rem;
    color: #a52834;
}