<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aliavi</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="?mode=profile">Профиль {{ user }} </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {% if user == "Non auth" %}
                    <a class="nav-link" href="?mode=register">Регистрация</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if user == "Non auth" %}
                    <a class="nav-link" href="?mode=authorization">Авторизация</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?mode=all-ads">Объявления</a>
            </li>
            {% if user != "Non auth" %}
                <li class="nav-item">
                    <a class="nav-link" href="?mode=ads-create">Создать объявление</a>
                </li>
            {% endif %}
        </ul>
        <span class="navbar-text">
      AviAli
    </span>
    </div>
</nav>

